
  <form>
    <div class="group">
      <input type="text" name="pin" [(ngModel)]= "pin"><span class="highlight"></span><span class="bar"></span>
      <label>PinCode</label>
    </div>
   
    <button type="button" class="button buttonBlue" (click)="checklog()" >Login
      <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
  </form>
  <footer><a href="http://www.polymer-project.org/" target="_blank"><img src="assets/chotedental.png"></a>
    <p>You Gotta Love <a href="http://www.polymer-project.org/" target="_blank"> Chote Dental Clinic</a></p>
  </footer>