
<md-toolbar color="primary">
    <span>@Clinic 4.0</span>

  </md-toolbar>
  <div class="button-row">
    <button md-raised-button routerLink="/home">Home</button>
    <button md-raised-button color="primary" routerLink="/tx">ห้องฟัน</button>
    <button md-raised-button color="accent" routerLink="/lab">Lab</button>
    <button md-raised-button color="warn" routerLink="/doctor">Doctor</button>
    <button md-raised-button routerLink="/gov">เทศบาล</button>
   
  </div>
  <div style="height: 500px;"
  leaflet 
  [leafletOptions]="options"
  [leafletLayersControl]="layersControl">
 >
</div>
<router-outlet></router-outlet>



