
<md-toolbar color="primary">
   <a routerLink="/home"> <i class="material-icons">home</i>  <span>@Clinic 4.0.9</span></a>
  </md-toolbar>

  <div class="button-row">
    <div *ngIf="getFlagIsAdmin()"> <button md-raised-button color="primary" routerLink="/tx">ห้องฟัน</button>
    <button md-raised-button color="accent" routerLink="/lab">งานLab</button>

    <button md-raised-button style="background-color:orange" routerLink="/expense">ค่าใช้จ่าย</button>
    <button md-raised-button color="warn" routerLink="/doctormonth">Doctor</button>
  </div>
  </div>
  
<router-outlet></router-outlet>



