<button (click)="increment()">Increment</button>
<div>Current Count: {{ counter$ | async }}</div>
<button (click)="decrement()">Decrement</button>

<button (click)="reset()">Reset Counter</button>
<hr>
<button (click)="increment2()">Increment</button>
<div>Current Count: {{ double$ | async }}</div>
<button (click)="decrement2()">Decrement</button>

<button (click)="reset2()">Reset Counter</button>
<hr>
<button (click)="doAdd()">เพิ่มคนไข้ใหม่</button>
<ul><li  *ngFor="let i of doctors">{{i.label}}</li></ul>
<hr>

<ul ><li *ngFor="let h of doctorlist$ | async"  >
    {{h.label}}  
    <button  type="button" class="btn btn-primary btn-sm" (click)="edit(h)">แก้ไข</button> |
     <button  type="button"  class="btn btn-sm btn-danger" (click)="delete(h)">ลบ</button>
</li></ul>
